#menu-bar
{
    border-bottom: 2px solid #121212FF;
    min-width: 100%;
}


#config {
    border-right: 2px solid #121212FF;
}

#config-scroll {
    padding: 8px;
    border-bottom: 2px solid #121212FF;
    min-width: 300px;
}

#add-conf-btn {
    min-width: 50px;
    margin: 8px;
}

#add-conf-label {
    font-size: 1em;
}


.config-widget {
    border-radius: 4px;
    border: 2px solid #121212FF;
    padding: 12px;
    margin: 2px;
}

.widget-close {
    background-color: #00000000;
    border-radius: 50%;

}

.widget-close:hover {
    color: #AAAAAA;
}

#sort-button {
    margin: 5px;
}

#working-image {
    background-color: #00000088;
}
